@model SimplyHireWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
}

<h1 class="title is-2">@ViewBag.Title</h1>

<div class="columns">
    <div class="column is-half">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />

            <div class="field">
                @Html.LabelFor(m => m.Email, new { @class = "label required" })
                <div class="control">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input", placeholder = "Email Address" })
                </div>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.Password, new { @class = "label required" })
                <div class="control">
                    @Html.PasswordFor(m => m.Password, new { @class = "input", placeholder = "Password" })
                </div>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label required" })
                <div class="control">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input", placeholder = "Confirm Password" })
                </div>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.AccountType, new { @class = "label required"})
                <div class="select">
                    @Html.EnumDropDownListFor(model => model.AccountType)
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-primary" value="Sign Up" />
                </div>
            </div>

            @Html.ValidationSummary("", new { @class = "notification " })
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    window.onload = function () {
        $(document).ready(function () {
            let notify = $('.notification ul');
            $('#Password').keyup(function () {
                let validation = '';
                if ($(this).val().length < 8) {
                    validation += ('<li>Password is too short</li>');
                }
                if (/^[a-zA-Z0-9- ]*$/.test($(this).val()) == true) {
                    validation += ('<li>Password must contain at least one special character</li>');
                    //notify.append('<li>Password must contain at least one special character');
                }
                if (/\d/.test($(this).val()) == false) {
                    validation += ('<li>Password must contain at least one number</li>');
                    //notify.append("<li>Password must contain at least one number");
                }
                notify.empty()
                notify.append(validation);
            });
        });
    }
</script>
