@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    bool isAuthed = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
    var user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
    string controllerName = ViewContext.RouteData.GetRequiredString("controller");
    string actionName = ViewContext.RouteData.GetRequiredString("action");
}
@if (isAuthed)
{
    string loggedClass = user.AccountType == 0 ? "is-info" : "is-success";
<div class="logged-in-info">
    <span class="tag @(loggedClass)">@user.AccountType.ToString() Account</span>
    <a href="/Account/Profile"><span class="tag">@user.UserName</span></a>
</div>
}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-tab" href="/">
            <img src="~/Content/Images/logo.png" width="100" height="auto" />
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navigation" class="navbar-menu">
        @*<div class="navbar-start">
            <a class="navbar-item is-tab">
                Home
            </a>
        </div>*@
        @if (isAuthed)
        {
            <div class="navbar-item is-tab @(actionName == "Index" && controllerName == "ControlPanel" ? "is-active" : "")">
                <a href="/ControlPanel">Home</a>
            </div>
            if (user.AccountType == SimplyHireWeb.Models.AccountType.Employee)
            {
                <div class="navbar-item is-tab @(actionName == "MyJobs" && controllerName == "Jobs" ? "is-active" : "")">
                    <a href="/Jobs/MyJobs">My Jobs</a>
                </div>
                <div class="navbar-item is-tab @(actionName == "" && controllerName == "Notifications" ? "is-active" : "")">
                    <a href="/Notifications">My Notifications</a>
                </div>
                <div class="navbar-item is-tab @(actionName == "Suggested" && controllerName == "Jobs" ? "is-active" : "")">
                    <a href="/Jobs/Suggested">Suggested Jobs</a>
                </div>
                <div class="navbar-item is-tab @(actionName == "Profile" && controllerName == "Account" ? "is-active" : "")">
                    <a href="/Account/Profile">Profile</a>
                </div>
            }
            else
            {
                <div class="navbar-item is-tab">
                    <a href="/Company/MyJobs">My Jobs</a>
                </div>
                <div class="navbar-item is-tab">
                    <a href="/Notifications">My Notifications</a>
                </div>
                <div class="navbar-item is-tab">
                    <a href="/Employees/Suggested">Suggested Jobs</a>
                </div>
            }
        }
        <div class="navbar-end">
            <div class="navbar-item is-tab">
                @if (isAuthed)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="buttons">
                            <button type="submit" class="button"><i title="Log Off" alt="Log Off" class="fas fa-power-off"></i></button>
                        </div>
                    }
                }
                else
                {
                    <div class="buttons">
                        <a href="/Account/Register" class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a href="/Account/Login" class="button is-light">
                            Sign in
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</nav>
<hr />
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>