@model List<SimplyHireWeb.Models.DbModels.UserSkill>

<h2 class="title is-3">My Skills</h2>

<p>Add your top 5 most marketable skills.</p>
<hr />
@if (Model.Count > 0)
{
    <table class="is-striped table is-fullwidth">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Exp Level</th>
                <th>Years of Exp.</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var skill in Model)
        {
            <tr>
                <td>@skill.SkillName</td>
                <td>@skill.SkillLevel</td>
                <td>@skill.YearsExperience</td>
                <td><a data-id="@skill.Id" class="edit-skill">Edit</a></td>
                <td><a data-id="@skill.Id" class="delete-skill">Delete</a></td>
            </tr>
        }
    </table>
}
else
{

    <p>No Skills Yet.</p>
}
<hr />
<a class="add-modal-skill button is-primary is-fullwidth" href="#">Add Skills</a>